body {
  margin-top:50px;
  color:#252525;
}

.description {
  text-align:left;
  color:#777;
}

h2 {
  margin-bottom:30px;
}

.showcase img {
  margin-bottom:10px;
  max-height:270px;
}

@media (max-width: 767px)
{
  .description {
    margin-bottom:30px;
  }

  h4 {
    padding-top:20px;
  }
}

ul:first-of-type {
  margin-left:0;
  margin-bottom:30px;
}
